:root {
  --main-color: #2934b5;
  --second-color: #fff;
}

body {
  margin: 12px;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: white;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgb(43, 50, 178) 0%,
    rgb(20, 136, 204) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

/*SEARCH BUTTON*/

* {
  box-sizing: border-box;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: rgb(20, 136, 204);
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 220px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* LOCATION AND DATE*/

.top-container h1 {
  font-size: 48px;
  font-weight: 500;
}

.top-container h3 {
  margin-top: -25px;
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.middle-container {
  display: flex;
  flex-direction: row;
}

/*LINE*/
hr.vertical {
  width: 1px;
  height: 220px;
  margin: 0 5%;
}

/* DESKTOP */

@media (min-width: 769px) {
  .container {
    width: 880px;
    margin: 8px auto;
  }
  .top-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
  }

  /*SEARCH BAR*/
  .search-engine {
    margin-left: 31%;
    margin-top: 5%;
  }

  /*ICON*/
  .left-container {
    width: 50%;
  }
  img {
    width: 50%;
  }

  /*TEMPERATURE*/
  .main-temp {
    margin-left: 260px;
    margin-top: -52%;
    letter-spacing: 2px;
  }

  .main-temp h1 {
    font-size: 80px;
    font-weight: 500;
  }

  .main-temp h3 {
    margin-top: -50px;
    letter-spacing: 2px;
  }

  /*DETAILS*/

  .right-container ul {
    flex-wrap: wrap;
    display: flex;
    padding-left: 0;
  }

  .right-container ul li {
    flex: 1 0 33.33%;
    align-self: flex-end;
  }

  h3 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  h4 {
    margin-top: -15px;
    font-weight: 200;
    letter-spacing: 2px;
  }

  /*HOUR-FORECAST*/
  .bottom-container {
    margin-top: 5%;
  }

  .bottom-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
  }

  .bottom-container li {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 15px 30px;
    font-weight: 800;
  }

  /*FORECAST*/
  .forecast {
    display: none;
  }
}

/* TABLET */

@media (max-width: 768px) {
  body {
    margin: 20px;
  }

  .container {
    width: 660px;
    margin: 8px auto;
  }
  .top-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
  }

  /*SEARCH BAR*/
  .search-engine {
    margin-left: 20%;
    margin-top: 5%;
  }

  /*ICON*/
  .left-container {
    width: 50%;
  }
  img {
    width: 45%;
  }

  /*TEMPERATURE*/
  .main-temp {
    margin-left: 160px;
    margin-top: -55%;
    letter-spacing: 2px;
  }

  .main-temp h1 {
    font-size: 72px;
    font-weight: 500;
  }

  .main-temp h3 {
    margin-top: -50px;
    letter-spacing: 2px;
  }

  /*DETAILS*/

  .right-container ul {
    flex-wrap: wrap;
    display: flex;
    padding-left: 0;
  }

  .right-container ul li {
    flex: 1 0 33.33%;
    align-self: flex-end;
  }

  h3 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  h4 {
    margin-top: -15px;
    font-weight: 200;
    letter-spacing: 2px;
  }

  /*HOUR-FORECAST*/
  .bottom-container {
    margin-top: 5%;
  }

  .bottom-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
  }

  .bottom-container li {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 15px 30px;
    font-weight: 800;
  }

  /*FORECAST*/
  .forecast {
    margin-top: 5%;
  }

  .forecast ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 15px 30px;
    font-weight: 800;
  }
}
